{% extends 'base.html' %}
{% block content %}

    <header>
        <h2 class="title">Notifications</h2>
    </header>

    {% for notif in notifications %}
        <!-- models.py > class Notification -->
        {% if notif.notification_type == 0 %}
            <p>You were given a warning as a message in the topic <a href="">{{ notif.warning.content.thread.title }}</a>. Reason: {{ notif.warning.details }}</p>
        {% endif %}

        {% if notif.notification_type == 2 %}
            <p>Your report was 
                {% if notif.report.is_resolved %}
                    resolved
                {% else %}
                    rejected
                {% endif %}
                with following alert: {{ notif.report.notification }}
            </p>
        {% endif %}

        {% if notif.notification_type == 3 %}
            <p>Your message in 
                <a href="{% url 'thread' notif.message.thread.node.slug notif.message.thread.slug notif.message.thread.id %}">{{ notif.message.thread.title }}</a> 
                was deleted. Reason: {{ notif.notification }}
            </p>
        {% endif %}

        {% if notif.notification_type == 4 %}
            <p>Your message in 
                <!-- difference between this section and section above in link modification. I'll do it later -->
                <a href="{% url 'msg_redirect' notif.message.thread.node.slug notif.message.thread.slug notif.message.thread.id notif.message.id %}">{{ notif.message.thread.title }}</a> 
                was edited. Reason: {{ notif.notification }}
            </p>
        {% endif %}
        {% if notif.notification_type == 5 %}
            <p>Your profile information was edited. Reason: {{ notif.notification }}</p>
        {% endif %}

        {% if notif.notification_type == 6 %}
            <p>You thread in 
                <a href="{% url 'section' notif.thread.node.slug %}">{{ notif.thread.node.name }}</a>
                was deleted. Reason: {{ notif.notification }}
            </p>
        {% endif %}

        {% if notif.notification_type == 7 %}
            <p>You thread in 
                <a href="{% url 'section' notif.thread.node.slug %}">{{ notif.thread.node.name }}</a>
                was changed. Reason: {{ notif.notification }}
            </p>
        {% endif %}
        

        <p>{{ notif.time_created|date:"d/m/Y - H:i" }}</p>
    {% endfor %}

{% endblock %}