
{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'form.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}
{% block content %}
<header class="container">
    <h2 class="title">Edit profile</h2>

    <div class="wrapper miniNav">
        <a class="miniNavBtn" href="">Content</a>
        <a class="miniNavBtn" href="">Ban history</a>
        <a class="miniNavBtn" href="">Ban</a>
        <a class="miniNavBtn" href="">Start chat</a>
    </div>
</header>

<form class="container canvas" action="{% url 'profile_edit' user.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="wrapper profileInfoContainer">
        <div class="container profileInfoContainerItem">
            <p class="meta">Forum title:</p>
            <p class="text">{{ form.last_name }}</p>
        </div>

        <div class="container profileInfoContainerItem">
            <p class="meta">e-mail:</p>
            <p class="text">{{ form.email }}</p>
        </div>

        <div class="container profileInfoContainerItem">
            <p class="meta">Profile picture</p>
            <input type="file" name="image">
        </div>
    </div>

    <button class="btn actionBtn" type="submit">Save</button>
</form>
{% endblock %}
