{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}
{% block content %}
<header class="container">
    <h2 class="title">Profile</h2>

    <div class="wrapper miniNav">
        {% if profile_content %}
                <a class="miniNavBtn" href="{% url 'profile_view' account.id %}">Profile</a>
                {% if account.id == request.user.id or perms.users.view_warnings_history %}
                <a class="miniNavBtn" href="{% url 'profile_warnings' account.id %}">Warnings</a>
                {% endif %}
                {% if perms.user.change_user and not request.user == account %}
                <a class="miniNavBtn" href="{% url 'profile_toggle_ban' account.id %}">
                    {% if account.profile.is_banned %}
                    Unban
                    {% else %}
                    Ban
                    {% endif %}
                </a>
                {% endif %}
                <a class="miniNavBtn" href="">Start chat</a>
        {% else %}
            {% if warnings_history %}
                <a class="miniNavBtn" href="{% url 'profile_view' account.id %}">Profile</a>
                <a class="miniNavBtn" href="{% url 'profile_content' account.id %}">Content</a>
                {% if perms.user.change_user and not request.user == account %}
                <a class="miniNavBtn" href="{% url 'profile_toggle_ban' account.id %}">
                    {% if account.profile.is_banned %}
                    Unban
                    {% else %}
                    Ban
                    {% endif %}</a>
                {% endif %}
                <a class="miniNavBtn" href="">Start chat</a>
            {% else %}
                <a class="miniNavBtn" href="{% url 'profile_content' account.id %}">Content</a>
                {% if account.id == request.user.id or perms.users.view_warnings_history %}
                <a class="miniNavBtn" href="{% url 'profile_warnings' account.id %}">Warnings</a>
                {% endif %}
                {% if perms.user.change_user and not request.user == account %}
                <a class="miniNavBtn" href="{% url 'profile_toggle_ban' account.id %}">
                    {% if account.profile.is_banned %}
                    Unban
                    {% else %}
                    Ban
                    {% endif %}
                </a>
                {% endif %}
                <a class="miniNavBtn" href="">Start chat</a>
            {% endif %}
        {% endif %}
    </div>
</header>

<div class="container">

    <div class="wrapper profileContainer">
        <img class="avatar" src="{{ media_url }}{{ account.profile.profile_picture }}" alt="">
        <div class="container">
            <h2 class="title">{{ account.username }} 
                {% if perms.users.view_profile %}
                ({{ account.profile.warnings }} warnings)
                {% endif %}
            </h2>
            <p class="meta">{{ account.last_name }}</p>
        </div>
    </div>

    {% if profile_content %}
        {% for msg in content %}
        {% if msg.is_visible or perms.forum.view_message %}
        {% if msg.thread.is_visible or perms.forum.view_thread %}
            <a href="{% url 'thread' msg.thread.node.name|slugify msg.thread.title|slugify msg.thread.id %}#{{msg.id}}" class="container profileItemCard">
                <p class="meta">Theme
                    {% if not msg.thread.is_visible %}
                       (DELETED)
                    {% endif %}
                </p>
                <p class="text">{{ msg.thread }}
                    {% if not msg.is_visible %}
                    (DELETED)
                    {% endif %}
                </p>
            </a>
        {% endif %}
        {% endif %}
        {% endfor %}

    {% else %}
        {% if warnings_history %}
            {% for warn in warnings %}
                <a href="{% url 'thread' warn.content.thread.node.name|slugify  warn.content.thread.title|slugify warn.content.thread.id %}#{{ warn.content.id }}" class="container profileItemCard">
                    <div class="wrapper profileItemCardHeader">
                        <p class="meta">Warned by: <span class="meta_action">{{ warn.warned_by }}</span> in <span class="meta_action">{{ warn.content.thread.title }}</span></p>
                        <p class="meta">{{ warn.time_warned }}</p>
                    </div>
                    <p class="text">{{ warn.details }}</p>
                </a>

            {% endfor %}
        {% else %}
            <div class="wrapper profileInfoContainer">
                <div class="container profileInfoContainerItem">
                    <p class="meta">Username:</p>
                    <p class="text">{{ account.username }}</p>
                </div>
        
                <div class="container profileInfoContainerItem">
                    <p class="meta">Forum title:</p>
                    <p class="text">{{ account.last_name }}</p>
                </div>
        
                <div class="container profileInfoContainerItem">
                    <p class="meta">Joined:</p>
                    <p class="text">{{ account.date_joined|date:"d/m/Y" }}</p>
                </div>
        
                <div class="container profileInfoContainerItem profileInfoContainerEmail">
                    <p class="meta">e-mail:</p>
                    <p class="text">{{ account.email }}</p>
                </div>
            </div>

            {% if request.user.id == account.id or perms.users.change_profile %}
                <a href="{% url 'profile_edit' account.id %}" class="profileActionBtn">Edit</a>
            {% endif %}
        {% endif %}
    {% endif %}
</div>
{% endblock %}