{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}
{% block title %}
{% if is_login_page %}
<title>Log in</title>
{% else %}
<title>Sign up</title>
{% endif %}

{% endblock %}
{% block content %}
    {% if is_login_page %} 
        <header class="wrapper">
            <h2 class="title">Welcome</h2>
            <div class="headerLine"></div>

            <a class="headerBtn headerBtnFocus" href="{% url 'login_user' %}">Login</a>
            <a class="headerBtn" href="{% url 'create_user' %}">Sign up</a>
        </header>

        <div class="mainContent">
            <form class="container formView" action="{% url 'login_user' %}" method="post">
                {% csrf_token %}
                <div class="container card">
                    <div class="cardHeader">
                        <h2 class="cardTitle">Login</h2>
                    </div>

                    <div class="cardLine"></div>
                    <div class="container cardSection">
                        <p class="meta">Username</p>
                        {{form.username}}
                    </div>

                    <div class="cardLine"></div>
                    <div class="container cardSection">
                        <p class="meta">Password</p>
                        {{form.password}}
                    </div>
                </div>

                <button class="submitBtn" type="submit">Login</button>
            </form>
        </div>
        
    {% else %}
        <header class="wrapper">
            <h2 class="title">Welcome</h2>
            <div class="headerLine"></div>

            <a class="headerBtn" href="{% url 'login_user' %}">Login</a>
            <a class="headerBtn headerBtnFocus" href="{% url 'create_user' %}">Sign up</a>
        </header>

        <div class="mainContent">
            <form class="container formView" action="{% url 'create_user' %}" method="post">
                {% csrf_token %}
                <div class="container card">
                    <div class="cardHeader">
                        <h2 class="cardTitle">Sign up</h2>
                    </div>

                    <div class="cardLine"></div>
                    <div class="container cardSection">
                        <p class="meta">Username</p>
                        {{form.username}}
                    </div>
                    <div class="cardLine"></div>
                    <div class="container cardSection">
                        <p class="meta">Email</p>
                        {{form.email}}
                    </div>
                    <div class="cardLine"></div>
                    <div class="container cardSection">
                        <p class="meta">Password</p>
                        {{form.password1}}
                    </div>
                    <div class="cardLine"></div>
                    <div class="container cardSection">
                        <p class="meta">Repeat password</p>
                        {{form.password2}}
                    </div>
                </div>

                <button class="submitBtn" type="submit">Sign up</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
