{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'account.css' %}">
{% endblock %}
{% block content %}

    <div class="container content">
        {% if is_login_page %}
            <h2 class="title">Login</h2>
            <div class="container card">
                <form action="{% url 'login_user' %}" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <div>
                        {{ field.errors }}
                        {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Login">
                </form>
        
                <a href="{% url 'create_user' %}">Sign up</a>
            </div>
        {% else %}
            <h2 class="title">Sign up</h2>
            <div class="container card">
                <form action="{% url 'create_user' %}" method="post">
                    {% csrf_token %}

                    {% for field in form %}
                        <div>
                        {{ field.errors }}
                        {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Sign up">
                </form>
        
                <a href="{% url 'login_user' %}">Login</a>
            </div>
        {% endif %}
    </div>

{% endblock %}