{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'moderation.css' %}">
{% endblock %}
{% block title %}
    <title>Report in {{ report.content.thread.title }}</title>
{% endblock %}
{% block header %}
    <header>
        <h2 class="title">Report</h2>
    </header>
{% endblock %}
{% block content %}

    <div class="container" style="gap: 12px;">
        <div class="card">
            <div class="wrapper cardHeader">
                <h2 class="cardTitle">Thread details</h2>
            </div>
    
            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Thread</p>
                <a class="text" href="">{{ report.content.thread.title }}</a>
            </div>
    
            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Author</p>
                {% if report.content.user.profile.is_banned and perms.users.view_profile %}
                    <a class="text" href="{% url 'profile_view' report.content.user.id %}"><del>{{ report.content.user.username }}</del></a>
                {% else %}
                    <a class="text" href="{% url 'profile_view' report.content.user.id %}">{{ report.content.user.username }}</a>
                {% endif %}
            </div>

            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Message</p>
                <a class="text" href="{% url 'thread' report.content.thread.node.slug report.content.thread.slug report.content.thread.id %}#{{report.content.id}}">{{ report.content.message }}</a>
            </div>
        </div>

        <div class="card">
            <div class="wrapper cardHeader">
                <h2 class="cardTitle">Report details</h2>
            </div>

            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Created</p>
                <p class="text">{{ report.time_created|date:"d/m/Y - H:i" }}</p>
            </div>
    
            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Report by</p>
                <a class="text" href="{% url 'profile_view' report.user.id %}">{{ report.user }}</a>
            </div>

            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Reason</p>
                <p class="text">{{ report.reason }}</p>
            </div>

            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Status</p>
                <p class="text">
                    {% if report.is_closed %}
                        {% if report.is_resolved %}
                            resolved (<a class="text" href="{% url 'profile_view' report.closed_by.id %}">{{ report.closed_by.username }}</a>)
                        {% else %}
                            rejected (<a class="text" href="{% url 'profile_view' report.closed_by.id %}">{{ report.closed_by.username }}</a>)
                        {% endif %}
                    {% endif %}
                </p>
            </div>

            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Notification</p>
                {% if report.is_notified %}
                    <p class="text">{{ report.notification }}</p>
                {% else %}
                    <p class="text">No notification was sent</p>
                {% endif %}
            </div>

            <div class="cardLine"></div>
            <div class="container cardSection">
                <p class="meta">Updated</p>
                <p class="text">{{ report.time_changed|date:"d/m/Y - H:i" }}</p>
            </div>
        </div>
    </div>

    {% if not report.is_closed %}
        <form class="container" action="{% url 'report_details' report.id %}" method="post" style="gap: 12px;">
            <div class="container reportDetailsForm">
                <div class="cardHeader">
                    <h2 class="cardTitle">Solutionns</h2>
                </div>
                <div class="cardLine"></div>
    
                {% csrf_token %}
                <div class="cardLine"></div>
                <div class="container cardSection" style="gap: 12px;">
                    <div class="wrapper" style="gap: 12px;">
                        <input type="radio" name="status" id="" value="open" checked>
                        <label class="text" for="">Open</label>
                    </div>
                
                    <div class="wrapper" style="gap: 12px;">
                        <input type="radio" name="status" id="" value="resolve">
                        <label class="text" for="">Resolve</label> <br>
                    </div>
               
                    <div class="wrapper" style="gap: 12px;">
                        <input type="radio" name="status" id="" value="reject">
                        <label class="text" for="">Reject</label>
                    </div>
                </div>
    
                <div class="cardLine"></div>
                <div class="container cardSection">
                    <label class="meta" for="">Assign to</label>
                    <select class="moderationSelect" name="assigned_to" id="">
                        <option value="">---</option>
                        {% for moderator in moderators %}
                            {% if report.assigned_to and report.assigned_to == moderator %}
                                <option value="{{ moderator.username }}" selected>{{ moderator.username }}</option>
                            {% else %}
                                <option value="{{ moderator.username }}">{{ moderator.username }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
    
                <div class="cardLine"></div>
                <div class="wrapper cardSection">
                    <!-- if is_notified is checked then notification input should be unlocked by deleting readonly attribute. It means is_notified should toggle readonly attribute for the input below -->
                    <input type="checkbox" name="is_notified" id="is_notified">
                    <label class="text" for="">Send notification:</label>
                </div>
    
                <div class="container cardSection">
                    <label class="meta" for="">Notification:</label>
                    <input class="moderationInput" type="text" name="notification" id="notification" placeholder="Enter the message for the notification" readonly>
                </div>
            </div>

            <button class="largeBtn" type="submit">Save</button>
        </form>
    {% endif %}

{% endblock %}