<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Post in thread '{{ report.content.thread.title }}'</p>
    <a href="{% url 'profile_view' report.content.user.id %}">{{ report.content.user.username }}</a>
    {% if report.content.user.profile.title %}
        <p>{{ report.content.user.profile.title }}</p>
    {% endif %}
    <img src="{{ media_url }}{{ report.content.user.profile.profile_picture }}" alt="">
    <p>{{ report.content.message }}</p>
    <a href="{% url 'thread' report.content.thread.node.name|slugify report.content.thread.title|slugify report.content.thread.id %}">Go to content</a>
    <p>Created: {{ report.time_created|date:"d/m/Y - H:i" }}</p>
    <p>Status: 
        {% if report.is_closed %}
            {% if report.is_resolved %}
                resolved (<a href="{% url 'profile_view' report.closed_by.id %}">{{ report.closed_by.username }}</a>)
            {% else %}
                rejected (<a href="{% url 'profile_view' report.closed_by.id %}">{{ report.closed_by.username }}</a>)
            {% endif %}
        {% else %}
            {% if report.assigned_to %}
                Assigned (<a href="{% url 'profile_view' report.assigned_to.id %}">{{ report.assigned_to.username }}</a>)
            {% else %}
                Open
            {% endif %}
        {% endif %}
    </p>
    <p>Updated: {{ report.time_changed }}</p>
    {% if report.is_notified %}
        <p>The follow notification was sent:</p>
        <p>{{ report.notification }}</p>
    {% endif %}
</body>
</html>