{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'forum.css' %}">
{% endblock %}
{% block content %}
    <header>
        <div class="wrapper">
            {% if thread.is_visible %}
            <h2 class="title">Forum: {{ thread.title }}</h2>
            {% endif %}
            {% if not thread.is_visible and perms.view_thread %}
            <h2 class="title">Forum: {{ thread.title }} (DELETED)</h2>
            {% endif %}
            <form action="{% url 'forum_main' %}" method="post">
                {% csrf_token %}
                <input type="text" name="search" id="">
                <input type="checkbox" name="content_type" id="" value="threads">
                <input type="checkbox" name="content_type" id="" value="members">
            </form>
        </div>
    </header>
    {% if perms.forum.change_thread %}
        {% if thread.is_closed %}
            <a href="{% url 'toggle_close_thread' thread.id %}">Open thread</a>
        {% else %}
            <a href="{% url 'toggle_close_thread' thread.id %}">Close thread</a>
        {% endif %}
    {% endif %}
    {% for msg in messages %}

        <div class="container forumThreadCard" id="{{ msg.id }}">
            <div class="wrapper forumThreadCardHeader">
                <img class="forumCardProfilePicture" src="{{ media_url }}{{ msg.user.profile.profile_picture }}" alt="">
                <div class="container forumCardProfileMeta">
                    <a href="{% url 'profile_view' msg.user.id %}" class="text">{{ msg.user.username }}</a>
                    <p class="meta">{{ msg.time_created|date:"d/m/Y - H:i" }}</p>
                </div>
            </div>
            <p class="forumThreadCardMessage text">{{ msg.message }}</p>
            {% if request.user.is_authenticated %}
                <p style="color: #B4FF1F;">Report</p>
                <!-- should not be visible until user clicks report button -->
                <form action="{% url 'report_msg' msg.id %}" method="post">
                    {% csrf_token %}
                    <input type="text" name="reason" id="">
                    <input type="submit" value="Report">
                </form>
            {% endif %}
            {% if perms.forum.change_message %}
                <p style="color: #B4FF1F;">Delete</p>
                <!-- should not be visible until user clicks delete button -->
                <form action="">
                    {% csrf_token %}
                    <input type="text" name="reason" id="">
                    <input type="checkbox" name="is_notified" id="">
                    <input type="text" name="notification" id="">
                    <input type="submit" value="Delete">
                </form>

                <p style="color: #B4FF1F;">Edit</p>
                <!-- should not be visible until user clicks edit button -->
                <form action="">
                    {% csrf_token %}
                    <textarea name="new_msg" id="" cols="30" rows="5">{{ msg.message }}</textarea>
                    <input type="checkbox" name="is_notified" id="">
                    <input type="text" name="notification" id="">
                    <input type="submit" value="Save">
                </form>
            {% endif %}
            {% if perms.users.create_warnings_history %}
                <p style="color: #B4FF1F;">Warn</p>
                <!-- should not be visible until user clicks warn button -->
                <form action="">
                    {% csrf_token %}
                    <input type="text" name="warning (reason/etc)" id="">
                    <input type="hidden" name="message" id="" value="{{ msg.id }}">
                    <input type="submit" value="Warn">
                </form>
            {% endif %}
        </div>

    {% endfor %}
    {% if not thread.is_closed and request.user.is_authenticated or perms.forum.change_thread %}
    <!-- I guess we can draw user's profile picture here -->
    <form action="{% url 'thread' thread.node.name|slugify thread.title|slugify thread.id %}" method="post">
        {% csrf_token %}
        <textarea name="msg" id="" cols="30" rows="10" placeholder="Your message goes here"></textarea>
        <input type="submit" value="Send">
    </form>
    {% endif %}
{% endblock %}
