<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    forum main page
    <ul>
        {% for item in tree %}
          <li>{{ item.node.name }}</li>
          {% if item.children %}
            <ul>
              {% for child in item.children %}
                <li>{{ child.node.name }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
</body>
</html>