<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    forum main page
    <form action="{% url 'forum_main' %}" method="post">
      {% csrf_token %}
      <input type="text" name="search" id="">
      <input type="checkbox" name="content_type" id="" value="threads">
      <input type="checkbox" name="content_type" id="" value="members">
    </form>
    {% if forum_search %}
      {% for result in results %}
      {{ result }}
      {% endfor %}
    {% endif %}
    <ul>
        {% for item in tree %}
          <li>{{ item.node.name }}</li>
          {% for thread in last_threads %}
            {% if thread.node == item.node %}
            <p>{{ thread }}</p>
            <p>{{ thread.user.first_name }}</p>
            <p>{{ thread.time_created|date:"Y/m/d - H:i" }}</p>
            {% endif %}
          {% endfor %}
          {% if item.children %}
            <ul>
              {% for child in item.children %}
                <li>{{ child.node.name }}</li>
                {% for thread in last_threads %}
                  {% if thread.node == child.node %}
                    <p>{{ thread }}</p>
                    <p>{{ thread.user.first_name }}</p>
                    <p>{{ thread.time_created|date:"Y/m/d - H:i" }}</p>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}
      </ul>
</body>
</html>