{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'forum.css' %}">
{% endblock %}
{% block content %}
    <header>
        <div class="wrapper">
            <h2 class="title">Forum</h2>

            <form action="{% url 'forum_main' %}" method="post">
                {% csrf_token %}
                <input type="text" name="search" id="">
                <input type="checkbox" name="content_type" id="" value="threads">
                <input type="checkbox" name="content_type" id="" value="members">
            </form>
        </div>
    </header>

    <div class="container forumCard">
        <div class="container forumCardHeader">
            <a href="" class="title">{{ node.name }}</a>
        </div>

        {% for thread, message in threads %}
            <div class="wrapper themeCard">
                <a href="" class="container themeCardSection">
                    <p class="meta">Theme</p>
                    <p class="text">{{thread}}</p>
                </a>
                
                <a href="" class="container themeCardSection">
                    <div class="wrapper" style="justify-content: space-between;">
                        <p class="meta">Messages</p>
                        <p class="meta">{{ message.time_created|date:"H:i - d/m/Y" }}</p>
                    </div>
                    <p class="text">{{ thread.msg_amount }}</p>
                </a>

                <a href="" class="container themeCardSection">
                    <p class="meta">Created by</p>
                    <div class="wrapper themeCardProfileCon">
                        <img class="themeCardSectionProfilePicture" src="{{ media_url }}{{ thread.user.profile.profile_picture }}" alt="">
                        <p class="text">{{ thread.user.username }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>

{% endblock %}