{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'forum.css' %}">
{% endblock %}
{% block header %}
    <header class="wrapper">
        <h2 class="title"><a href="/" style="color: #fff;">Forum</a></h2>
        <div class="headerLine"></div>

        <form class="wrapper headerSearch" action="{% url 'forum_main' %}" method="post">
            {% csrf_token %}
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <mask id="mask0_550_267" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="20">
                <rect width="20" height="20" fill="#D9D9D9"/>
                </mask>
                <g mask="url(#mask0_550_267)">
                <path d="M16.3333 17.5L11.0833 12.25C10.6667 12.5833 10.1875 12.8472 9.64583 13.0417C9.10417 13.2361 8.52778 13.3333 7.91667 13.3333C6.40278 13.3333 5.12153 12.809 4.07292 11.7604C3.02431 10.7118 2.5 9.43056 2.5 7.91667C2.5 6.40278 3.02431 5.12153 4.07292 4.07292C5.12153 3.02431 6.40278 2.5 7.91667 2.5C9.43056 2.5 10.7118 3.02431 11.7604 4.07292C12.809 5.12153 13.3333 6.40278 13.3333 7.91667C13.3333 8.52778 13.2361 9.10417 13.0417 9.64583C12.8472 10.1875 12.5833 10.6667 12.25 11.0833L17.5 16.3333L16.3333 17.5ZM7.91667 11.6667C8.95833 11.6667 9.84375 11.3021 10.5729 10.5729C11.3021 9.84375 11.6667 8.95833 11.6667 7.91667C11.6667 6.875 11.3021 5.98958 10.5729 5.26042C9.84375 4.53125 8.95833 4.16667 7.91667 4.16667C6.875 4.16667 5.98958 4.53125 5.26042 5.26042C4.53125 5.98958 4.16667 6.875 4.16667 7.91667C4.16667 8.95833 4.53125 9.84375 5.26042 10.5729C5.98958 11.3021 6.875 11.6667 7.91667 11.6667Z" style="fill: var(--accent);"/>
                </g>
            </svg>
                
            <input class="headerSearchInput" placeholder="Search" type="text" name="search" id="">
            
            <div class="wrapper forumSearchFilterContainer">
                <div class="wrapper forumSearchFilterBtn">
                    <input type="checkbox" name="content_type" id="threads_checkbox" value="threads">
                    <label for="threads_checkbox" class="forumSearchFilterText">Threads</label>
                </div>
                <div class="forumSearchFilterLine"></div>
                <div class="wrapper forumSearchFilterBtn">
                    <input type="checkbox" name="content_type" id="members_checkbox" value="members">
                    <label for="members_checkbox" class="forumSearchFilterText">Members</label>
                </div>
            </div>
        </form>
    </header>
{% endblock %}
{% block content %}
<div class="container content">
    {% if forum_search %}

        <div class="container card">
            <div class="cardHeader">
                <h2 class="cardTitle">Search results</h2>
            </div>

            {% for result in results %}
                {% if type == 'posts' %}
                    {% if result.is_visible and result.thread.is_visible or perms.forum.view_thread %}
                        {% if result.thread.node.type_private and request.user == result.thread.user or perms.forum.view_thread or not result.thread.node.type_private %}
                            <div class="cardLine"></div>
                            <div class="cardSectionMultiple">
                                <a class="wrapper cardSectionItem" href="{% url 'msg_redirect' result.thread.node.slug result.thread.slug result.thread.id result.id %}">
                                    <div class="container cardSectionInnerItem">
                                        <p class="meta">{{ result.time_created|date:"d/m/Y - H:i" }}</p>
                                        <p class="text nowrap textNormalizer">{{ result.message }}</p>
                                    </div>
                                </a>
                                <a class="container cardSectionAutherItem" href="{% url 'profile_view' result.user.id %}">
                                    <p class="meta">Created by</p>
                                    <div class="wrapper cardSectionAutherItemMetaContainer">
                                        <img class="themeCardSectionProfilePicture" src="{{media_url}}{{result.user.profile.profile_picture}}" alt="">
                                        {% if perms.users.view_profile and result.user.profile.is_banned %}
                                            <p class="text"><del>{{ result.user.username }}</del></p>
                                        {% else %}
                                            <p class="text">{{ result.user.username }}</p>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if type == 'threads' %}
                    {% if result.is_visible or perms.forum.view_thread %}
                        {% if result.node.type_private and request.user == result.user or perms.forum.view_thread or not result.node.type_private %}
                            <div class="cardLine"></div>
                            <div class="cardSectionMultiple">
                                <a class="wrapper cardSectionItem" href="{% url 'thread' result.node.slug result.slug result.id %}">
                                    <div class="container cardSectionInnerItem">
                                        <p class="meta">{{ result.time_created|date:"d/m/Y - H:i" }}</p>
                                        <p class="text nowrap">{{ result.title }}</p>
                                    </div>
                                </a>
                                <a class="container cardSectionAutherItem" href="{% url 'profile_view' result.user.id %}">
                                    <p class="meta">Created by</p>
                                    <div class="wrapper cardSectionAutherItemMetaContainer">
                                        <img class="themeCardSectionProfilePicture" src="{{media_url}}{{result.user.profile.profile_picture}}" alt="">
                                        {% if perms.users.view_profile and result.user.profile.is_banned %}
                                            <p class="text"><del>{{ result.user.username }}</del></p>
                                        {% else %}
                                            <p class="text">{{ result.user.username }}</p>
                                        {% endif %}
                                    </div>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                {% if type == 'members' %}
                    <div class="cardLine"></div>
                    <a class="wrapper forumSearchResultAccount" style="gap: 12px;" href="{% url 'profile_view' result.id %}">
                        <img class="forumSearchResultAccountProfilePicture" src="{{media_url}}{{result.profile.profile_picture}}" alt="">
                        {% if perms.users.view_profile and result.user.profile.is_banned %}
                            <p class="text"><del>{{ result.user.username }}</del></p>
                        {% else %}
                            <p class="text">{{ result.user.username }}</p>
                        {% endif %}
                    </a>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
    
    {% for item in tree %}
        <div class="container card">
            <div class="wrapper forumCardHeader">
                <a class="forumCardBtn"  href="{% url 'section' item.node.name|slugify %}">{{ item.node.name }}</a>
    
                {% if item.children %}
                    <div class="forumCardHeaderLine"></div>
                    {% for child in item.children %}
                        <a class="forumCardHeaderBtn" href="{% url 'section' child.node.name|slugify %}">{{ child.node.name }}</a>
                    {% endfor %}
                {% endif %}
            </div>
    
            {% for thread in last_threads %}
                {% if thread.node == item.node and thread.is_visible == True %}
                <div class="cardLine"></div>
                <div class="cardSectionMultiple">
                    <a class="cardSectionItem" href="{% url 'thread' thread.node.slug thread.slug thread.id %}">
                        <div class="container cardSectionInnerItem">
                            <p class="meta">Theme</p>
                            <p class="text">{{ thread }}</p>
                        </div>
                        <div class="container cardSectionInnerItem">
                            <p class="meta">Messages</p>
                            <p class="text">{{ thread.msg_amount }}</p>
                        </div>
                    </a>
                    <a class="container cardSectionAutherItem" href="{% url 'profile_view' thread.user.id %}">
                        <p class="meta">Created by</p>
                        <div class="wrapper cardSectionAutherItemMetaContainer">
                            <img class="themeCardSectionProfilePicture" src="{{ media_url }}{{ thread.user.profile.profile_picture }}" alt="">
                            {% if perms.users.view_profile and thread.user.profile.is_banned %}
                            <p class="text"><del>{{ thread.user.username }}</del></p>
                            {% else %}
                            <p class="text">{{ thread.user.username }}</p>
                            {% endif %}
                        </div>
                    </a>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endfor %}
</div>

{% endblock %}
