<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{node.name}}</h1>

    {% for thread, message in threads %}
        <img src="{{ media_url }}{{ thread.user.profile.profile_picture }}" alt="">
        <p>Title: {{thread}}</p>
        <p>Author: {{ thread.user.username }}</p>
        <p style="color: gray;">{{ message.time_created|date:"H:i - d/m/Y" }}</p>
        <p>Messages in thread: {{ thread.msg_amount }}</p>
    {% endfor %}
</body>
</html>