{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'new_thread.css' %}">
{% endblock %}
{% block title %}
    <title>New thread in {{ node.name }}</title>
{% endblock %}
{% block header %}
    <header>
        <h2 class="title">Forum</h2>
    </header>
{% endblock %}
{% block content %}
    <form class="container content" action="{% url 'create_thread' node.name|slugify node.id %}" method="post">
        {% csrf_token %}
        <div class="container newThreadContainer">
            <div class="newThreadHeader">
                <h2 class="newThreadHeaderTitle">Start new thread in {{ node.name }}</h2>
            </div>

            <div class="cardLine"></div>

            <label class="newThreadLabel" for="">Title</label>
            <input class="newThreadInput" placeholder="Title" type="text" name="title" id="" required></label>
            
            <div class="cardLine"></div>

            <label class="newThreadLabel" for="">Message</label>
            <textarea class="newThreadInput" placeholder="Start writing your message here" name="msg" id="" cols="30" rows="10" required></textarea>
        </div>
        <button class="largeBtn" type="submit">Post</button>
    </form>
{% endblock %}
