<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
</head>
<body>
    {% if request.user.id == account_id %}
    <a href="{% url 'profile_edit' user.id %}">edit</a>
    <!-- TODO rename -->
    {% endif %}
    <p>{{ user.first_name }} ({{user.username}})</p>

    <p>Login: {{ user.username }}</p>
    <p>Forum name: {{ user.first_name }}</p>
    <p>Forum title: {{ user.last_name }}</p>
    <p>e-mail: {{ user.email }}</p>
    <p>Joined: {{ user.date_joined|date:"d/m/Y" }}</p>

    <a href="{% url 'logout_user' %}">Log out</a>
</body>
</html>