<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <!-- font -->

    <!-- style -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block style %}{% endblock %}
    <!-- style -->
    
    <title>Document</title>
</head>
<body>
    <nav>
        {% if request.user.is_authenticated %}
            <div class="container navBtnContainer" id="navConProfile">
                <a class="wrapper navBtn" href="{% url 'profile_view' request.user.id %}">
                    {%  if avatar_path %}
                        <img class="navBtnAvatar" src="{{ avatar_path }}" alt="">
                    {% else %}
                        <img src="{% static 'assets/missing_avatar.svg' %}" alt=""> 
                    {% endif %}
                    <span class="text">{{ request.user.username }}</span> 
                </a>
            </div>

            <div class="container navBtnContainer" id="navConMain">
                <a class="wrapper navBtn" href="{% url 'forum_main' %}">
                    <img class="navBtnIcon" src="{% static 'assets/icon_forum.svg' %}" alt="">
                    <span class="text">Forum</span>
                </a>
                <a class="wrapper navBtn" href="">
                    <img class="navBtnIcon" src="{% static 'assets/icon_messages.svg' %}" alt="">
                    <span class="text">Messages</span>
                </a>
                <a class="wrapper navBtn" href="">
                    <img class="navBtnIcon" src="{% static 'assets/icon_notifications.svg' %}" alt="">
                    <span class="text">Notifications</span>
                </a>
                <a class="wrapper navBtn" href="">
                    <img class="navBtnIcon" src="{% static 'assets/icon_bookmarks.svg' %}" alt="">
                    <span class="text">Bookmarks</span>
                </a>
                {% if perms.moderation.view_reports %}
                <a class="wrapper navBtn" href="{% url 'moderation_main' %}">
                    <img class="navBtnIcon" src="{% static 'assets/icon_tools.svg' %}" alt="">
                    <span class="text">Reports</span>
                </a>
                {% endif %}
                {% if request.user.is_staff %}
                <a class="wrapper navBtn" href="{% url 'admin:index' %}">
                    <img class="navBtnIcon" src="{% static 'assets/icon_tools.svg' %}" alt="">
                    <span class="text">Admin</span>
                </a>
                {% endif %}
            </div>

            <div class="container navBtnContainer" id="navConOptions">
                <a class="wrapper navBtn" href="{% url 'profile_settings' request.user.id %}">
                    <img class="navBtnIcon" src="{% static 'assets/icon_settings.svg' %}" alt="">
                    <span class="text">Settings</span>
                </a>
                <a class="wrapper navBtn" href="{% url 'logout_user' %}">
                    <img class="navBtnIcon" src="{% static 'assets/icon_logout.svg' %}" alt="">
                    <span class="text">Logout</span>
                </a>
            </div>
        {% else %}
            <div class="container navBtnContainer" id="navConMain">
                <a class="wrapper navBtn" href="{% url 'login_user' %}">
                    <img class="navBtnIcon" src="{% static 'assets/icon_person.svg' %}" alt="">
                    <span class="text">Login</span>
                </a>
                <a class="wrapper navBtn" href="{% url 'create_user' %}">
                    <img class="navBtnIcon" src="{% static 'assets/icon_add_person.svg' %}" alt="">
                    <span class="text">Sign up</span>
                </a>
            </div>
        {% endif %}

        <div class="container navBtnContainer navConControll" id="navConControll">
            <button class="wrapper navBtn" id="minimizeBtn">
                <img class="navBtnIcon" src="{% static 'assets/icon_minimize.svg' %}" alt="">
                <span class="text navBtnContainerControllText">Minimize</span>
            </button>
        </div>
    </nav>

    <div class="container content">
        {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-4.0.0-beta.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
</body>
</html>