body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--bg);
}

.card {
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: var(--secondary);

    align-items: center;
    justify-content: center;
}

.content {
    height: 100%;
    padding: 24px;
    box-sizing: border-box;

    gap: 24px;
}

input {
    padding: 6px 12px;

    border-radius: 6px;
    border: 1px solid var(--border);

    color: var(--text);
    background-color: var(--input);
}