.main {
    overflow-y: scroll;
}

.cardSectionSquad {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 8px;
}

.cardSectionSquadItem {
    padding: 12px;
    border-radius: 12px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
}

.cardSectionSquadItem:hover {
    cursor: pointer;
    background-color: var(--isClickable);
}

.reportDetailsForm {
    padding: 12px;
    border-radius: 12px;
    background-color: var(--primary);
}

.moderationSelect {
    padding: 12px;
    border-radius: 8px;

    font-size: 12px;

    color: var(--text);
    background-color: var(--isClickable);
}

.moderationInput {
    padding: 12px;
    border-radius: 8px;

    font-size: 12px;

    color: var(--text);
    background-color: var(--isClickable);
}