.content {
    height: 100%;
    padding: 24px;
    box-sizing: border-box;

    background-color: var(--bg);

    gap: 24px;
}

.card {
    height: 100%;
    padding: 24px;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: var(--secondary);

    gap: 24px;
}

.profileCon {
    align-items: center;
    gap: 24px;
}

.profileMetaCon {
    gap: 8px;
}

.profilePicture {
    width: 100px;
    border-radius: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

form {
    display: grid;
    grid-template-columns: minmax(256px , 400px);
}

.formDiv {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.formMetaTag {
    color: var(--text);
}

.actionBtn {
    width: max-content;
}