:root {
    --text: hsl(0, 0%, 100%);
    --text-muted: hsl(229, 5%, 45%);

    --bg: hsl(223, 7%, 21%);

    --primary: hsl(225, 6%, 13%);
    --secondary: hsl(220, 7%, 18%);

    --border: hsl(227, 7%, 27%);
    --input: hsl(225, 7%, 24%);
    --active: hsl(220, 7%, 18%);
    --action: hsl(80, 100%, 56%);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    height: 100vh;

    background-color: var(--bg);

    display: grid;
    grid-template-columns: minmax(max-content, 300px) 1fr;
}

.container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.title {
    color: var(--text);
    font-size: 24px;
    font-weight: 600;
}

.text {
    color: var(--text);
    font-size: 14px;
}

nav {
    background-color: var(--primary);
}

.navBtn {
    padding: 12px 24px;
    align-items: center;
    gap: 16px;
}

.navBtn:nth-child(odd) {
    background-color: var(--secondary);
}

.navBtnIcon {
    aspect-ratio: 1/1;
    width: 24px;
}

.navBtnMeta {
    color: var(--text);
}

.navUserCon {
    padding: 24px;
    color: var(--text);

    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.navProfileCon {
    align-items: center;
    gap: 16px;
}