:root {
    --text: hsl(0, 0%, 100%);
    --text-muted: hsl(0, 0%, 82%);

    --bg: hsl(220, 7%, 18%);

    --primary: hsl(225, 6%, 13%);
    --secondary: hsl(223, 7%, 22%);

    --border: hsl(227, 7%, 32%);
    --input: hsl(225, 7%, 28%);
    --active: hsl(220, 7%, 18%);
    --action: hsl(80, 100%, 56%);
}

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;

    height: 100vh;
    padding: 12px 12px 12px 0px;

    background-color: var(--bg);

    display: grid;
    grid-template-columns: minmax(64px, 300px) minmax(256px , 1fr);
    gap: 12px;
}

.container {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
}

.center {
    align-items: center;
    justify-content: center;
}

.title {
    color: var(--text);
    font-size: 24px;
    font-weight: 600;
}

.text {
    color: var(--text);
    font-size: 14px;
}

.meta {
    color: var(--text-muted);
    font-size: 14px;
}

.activeLink {
    text-decoration: underline;
    font-size: 14px;
    color: var(--action);
}

nav {
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1px;
}

.navConProfile {
    grid-row: 1;
    grid-column: 1;
}

.navConMain {
    height: 100%;

    grid-row: 2;
    grid-column: 1;
}

.navConOptions {
    grid-row: 3;
    grid-column: 1;
}

.navConControll {
    grid-row: 4;
    grid-column: 1;
}

.navBtnContainer {
    padding: 12px;
    box-sizing: border-box;
    background-color: var(--primary);
    gap: 8px;
}

.navBtn {
    padding: 8px 12px;
    border-radius: 6px;
    background-color: var(--primary);
    align-items: center;
    gap: 12px;
}

.navBtn:hover {
    cursor: pointer;
    background-color: var(--secondary);
}

.navBtnIcon {
    aspect-ratio: 1/1;
    width: 24px;
}

.navBtnAvatar {
    width: 38px;
    aspect-ratio: 1/1;

    border-radius: 48px;
    border: 1px solid var(--border);

    background-color: var(--action);
}

/* Canvas */
.content {
    gap: 24px;
}

header {
    padding: 12px 12px 0px 12px;
    gap: 6px;
}

.miniNav {
    gap: 12px;
}

.miniNavBtn {
    font-size: 14px;
    color: var(--action);
}

.canvas {
    height: 100%;

    padding: 12px;
    border-radius: 12px;

    background-color: var(--secondary);
}

.btn {
    width: max-content;
    padding: 8px 12px;
    border-radius: 8px;
}

@media only screen and (min-width: 513px) {
    #navConOptions {
        border-radius: 0px 0px 12px 0px;
    }

    #navConControll {
        display: none;
    }

    .navBtnContainer:first-child {
        border-radius: 0px 12px 0px 0px;
    }
    
    .navBtnContainer:last-child {
        border-radius: 0px 0px 12px 0px;
    }
}

@media only screen and (max-width: 512px) {
    body {
        padding: 12px 12px 0px 12px;

        grid-template-columns: minmax(256px, 512px);
        grid-template-rows: 1fr max-content;
    }

    nav {
        grid-row: 2;
        bottom: 0px;
        position: sticky;

        border-radius: 12px 12px 0px 0px;
        background-color: var(--bg);

        display: grid;
        grid-template-columns: 1fr max-content;
        grid-template-rows: repeat(3, max-content);
        gap: 1px;
    }
    
    .navConProfile {
        grid-row: 1;
        grid-column: 1;

        border-radius: 12px 0px 0px 0px;
    }
    
    .navConMain {
        height: 100%;
    
        grid-row: 2;
        grid-column: 1 /span 2;
    }
    
    .navConOptions {
        grid-row: 3;
        grid-column: 1 /span 2;
    }
    
    .navConControll {
        grid-row: 1;
        grid-column: 2;

        border-radius: 0px 12px 0px 0px;
    }

    .navBtnContainerControllText {
        display: none;
    }
    
    #minimizeBtn {
        height: 100%;
    }
}