.content {
    box-sizing: border-box;
    height: calc(100vh - 24px);
}

.mainContentWrapper {
    box-sizing: border-box;

    display: grid;
    grid-template-columns: repeat(2, minmax(256px, 1fr));
    grid-template-rows: minmax(256px, 100%);
    gap: 12px;
}

.profileView {
    padding-bottom: 12px;
    box-sizing: border-box;
    height: calc(100vh - (52.8px + 24px));

    overflow-y: scroll;
    gap: 12px;
}

.chatView {
    box-sizing: border-box;
    height: calc(100vh - (58.8px + 32px));

    padding: 12px;
    border-radius: 12px;
    border: 1px dashed var(--border_dark);

    flex-direction: column-reverse;
    gap: 12px;
}

.avatar {
    aspect-ratio: 1/1;
    width: 96px;
    border-radius: 96px;
}

.profileContainer {
    padding: 16px;
    border-radius: 12px;

    background-color: var(--primary);

    align-items: center;
    gap: 12px;
}

.profileInfoContainer {
    background-color: var(--bg);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.profileInfoContainerItem {
    padding: 12px;

    border-left: 1px solid var(--bg);

    background-color: var(--secondary);
    gap: 6px;
}

.profileInfoContainerItem:first-child {
    border: none;
}

.profileInfoContainerEmail {
    grid-row: 2;
    grid-column: 1 /span 3;

    border-top: 1px solid var(--bg);
    border-left: none;
}

.profileActionBtn {
    margin-top: 1px;
    padding: 8px 16px;
    border-radius: 0px 0px 8px 8px;

    text-align: center;

    color: var(--text-muted);
    background-color: var(--secondary);
}

.profileActionBtn:hover {
    background-color: var(--input);
}

.profileItemCard {
    padding: 12px 16px;
    border-top: 1px solid var(--bg);

    background-color: var(--secondary);
    gap: 4px;
}

.profileItemCard:hover {
    background-color: var(--input);
}

.profileItemCard:last-child {
    border-radius: 0px 0px 12px 12px;
}

.profileItemCardHeader {
    justify-content: space-between;
}




.message {
    padding: 12px;
    font-size: 14px;
}

.receiverMessage {
    align-self: flex-start;
    margin-right: 20%;
    border-radius: 12px 12px 12px 4px;
    color: var(--text);
    background-color: var(--primary);
}

.senderMessage {
    align-self: flex-end;
    margin-left: 20%;
    border-radius: 12px 12px 4px 12px;
    color: var(--bg);
    background-color: var(--accent);
}


.chatForm {
    gap: 8px;
}

.chatInput {
    flex-grow: 1;

    padding: 12px;
    border: 12px;
    border-radius: 12px;

    font-size: 14px;

    color: var(--text);
    background-color: var(--isClickable);
}

.chatInput:focus {
    outline: none;
}

.chatBtn {
    padding: 8px;
    border-radius: 12px;
    background-color: var(--primary);
}

.chatBtn:hover {
    cursor: pointer;
    background-color: var(--isClickable);
}