.canvas {
    gap: 24px;
}

.avatar {
    aspect-ratio: 1/1;
    width: 96px;
    border-radius: 96px;
    border: 1px solid var(--border);

    background-color: var(--action);
}

.profileContainer {
    align-items: center;
    gap: 12px;
}

.profileInfoContainer {
    padding: 1px;
    background-color: var(--bg);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
}

.profileInfoContainerItem {
    padding: 12px;
    background-color: var(--secondary);
    gap: 6px;
}

.profileInfoContainerEmail {
    grid-row: 2;
    grid-column: 2 /span 2;
}


@media only screen and (max-width: 512px) {
    .profileInfoContainer {
        grid-template-columns: 1fr;
    }

    .profileInfoContainerEmail {
        grid-row: 5;
        grid-column: 1;
    }
}