{% extends 'base.html' %}
{% block style %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'messages.css' %}">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}
{% block title %}
    <title>Messages</title>
{% endblock %}
{% block header %}
    <header class="">
        <h2 class="title">Messages</h2>
    </header>
{% endblock %}
{% block content %}
    <div class="wrapper mainMessageView">
        <div class="container avalibleMessagesContainer">
            <div class="cardHeader">
                <h2 class="cardTitle">Active messages</h2>
            </div>
            <div class="cardLine"></div>

            {% for dialog in dialogs %}
                <a class="wrapper avalibleMessageCard" href="{% url 'messages_dialog' dialog.id %}">
                    {% if request.user == dialog.user_1 %}
                        <img class="avalibleMessageCardProfilePicture" src="{{ media_url }}{{dialog.user_2.profile.profile_picture}}" alt="">
                        <span class="text">{{dialog.user_2}}</span>
                        {% else %}
                        <img class="avalibleMessageCardProfilePicture" src="{{ media_url }}{{dialog.user_1.profile.profile_picture}}" alt="">
                        <span class="text">{{dialog.user_1}}</span>
                    {% endif %}
                </a>
            {% endfor %}
        </div>
        {% if current_dialog %}
        <div class="container messageView">
            <div class="container messageLoop">
                {% if messages %}
                    {% for msg in messages %}

                        {% if msg.sender == request.user %}
                            <div class="container messageContainer senderMessageContainer">
                                <div class="wrapper messageMetaContainer senderMessageMetaContainer">
                                    <p class="meta">{{ msg.time_created|date:"d/m/Y - H:i" }}</p>
                                </div>
                                <p class="message senderMessage">{{ msg.content }}</p>
                            </div>
                        {% else %}
                            <div class="container messageContainer receiverMessageContainer">
                                <div class="wrapper messageMetaContainer">
                                    <p class="meta">{{ msg.time_created|date:"d/m/Y - H:i" }}</p>
                                </div>
                                <p class="message receiverMessage">{{ msg.content }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>Select one of your dialogs to view messages</p>
                {% endif %}
            </div>

            {% if request.user == dialog.user_1 %}
                <form class="wrapper chatForm" action="{% url 'send_private_message' current_dialog.user_2.id %}" method="post" id="message_form">
            {% else %}
                <form class="wrapper chatForm" action="{% url 'send_private_message' current_dialog.user_1.id %}" method="post" id="message_form">
            {% endif %}
            {% csrf_token %}
            <input placeholder="Write a message" class="chatInput" type="text" name="content" id="msg">
            <button class="wrapper chatBtn" type="submit">
                <img src="{% static 'assets/icon_send.svg' %}" alt="">
            </button>
        </form>

        </div>
        {% endif %}
    </div>
{% endblock %}