.content {
    overflow-y: scroll;
}

.forumCard {
    gap: 1px;
}

.forumCardHeader {
    padding: 6px 4px;
    border-radius: 12px 12px 0px 0px;

    align-items: center;
    gap: 4px;
}

.cardHeaderBanner {
    padding: 12px;

    border-radius: 8px;
    border: 1px solid #997404;

    color: #FFDA6A;
    background-color: #332701;
}

.forumCardTitle {
    padding: 6px 8px;
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
}

.cardHeaderDescription {
    padding: 0px 12px 12px 12px;
    font-size: 14px;
    color: var(--text);
}

.forumCardHeaderLine {
    height: 24px;
    border-left: 1px solid var(--border_dark);
}

.forumCardHeaderBtn {
    padding: 6px 8px;
    font-size: 14px;
    color: var(--accent);
}

.forumCardBtn {
    padding: 6px 8px;
    border-radius: 8px; 
    font-size: 16px;
    font-weight: 600;
    color: var(--text);
    background-color: var(--primary);
}

.forumCardBtn:hover {
    cursor: pointer;
    background-color: var(--isClickable);
}

.themeCard {
    background-color: var(--section);

    display: grid;
    grid-template-columns: minmax(max-content , 1fr) repeat(2, minmax(max-content, .5fr));
    gap: 1px;
}

.themeCard:last-child {
    border-radius: 0px 0px 12px 12px;
}

.themeCardSection {
    flex: 1;
    padding: 12px 16px;
    border-left: 1px solid var(--bg);
    gap: 4px;
}

.themeCardSection:first-child {
    border-left: none;
}

.themeCardProfileCon {
    gap: 4px;
}

.themeCardSectionProfilePicture {
    width: 20px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.forumCardProfilePicture {
    width: 48px;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.forumThreadCard {
    padding: 12px 16px;
    border-radius: 12px;
    background-color: var(--secondary);
    gap: 16px;
}

.forumThreadCardHeader {
    align-items: center;
    gap: 8px;
}

.forumCardProfileMeta {
    gap: 4px;
}

/* forum messages  */
/* forum messages  */
/* forum messages  */

.forumCardCanvas {
    flex-grow: 1;
    justify-content: flex-end;
    gap: 8px;
}

.forumMessage {
    padding: 12px;
    gap: 12px;
}

.forumMessageProfilePicture {
    align-self: flex-start;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;

    width: 32px;
    border-radius: 32px;
    background-color: var(--bg);
}

.forumMessageBody {
    flex-grow: 1;
    gap: 8px;
}

.forumMessageMetaWrapper {
    justify-content: space-between;
}

.forumMessageUserMeta {
    gap: 8px;
}

.forumMessageUsername {
    font-size: 12px;
    color: var(--accent);
}

.forumMessageControllWrapper {
    gap: 8px;
}

.forumMessageControllBtn {
    font-size: 12px;
    color: var(--text-muted);
}

.forumMessageControllBtn:hover {
    cursor: pointer;
    color: var(--accent);
}

.forumMessageWrapper {
    gap: 8px;
}

.forumMessageContent {
    overflow-wrap: break-word;
    word-break: break-all;

    font-size: 14px;
    color: var(--text);
}

.forumMessageInput {
    flex-grow: 1;

    padding: 12px;
    border-radius: 8px;

    font-size: 14px;
    color: var(--text);
    background-color: var(--isClickable);
}

.forumMessageInput:focus {
    outline: none;
}

.forumMessageSubmitBtn {
    padding: 4px;
}

/* forum messages  */
/* forum messages  */
/* forum messages  */

.headerSearch {
    flex-grow: 1;
    gap: 12px;
}

.headerSearchInput {
    flex-grow: 1;
    padding: 6px 12px 6px 0px;
    font-size: 14px;
    color: var(--text);
    background-color: var(--bg);
}

.headerSearchInput:focus {
    outline: none;
}

.forumSearchFilterBtn {
    align-items: center;
    gap: 8px;
}

.forumSearchFilterText {
    color: var(--text);
    font-size: 12px;
}

.forumSearchFilterContainer {
    padding: 8px 12px;
    border-radius: 32px;
    background-color: var(--primary);
    gap: 12px;
}

.forumSearchFilterLine {
    height: 100%;
    border-left: 1px solid var(--border_dark);
}