.avalibleMessagesContainer {
    flex: .3;

    padding: 12px;
    border-radius: 12px;

    background-color: var(--primary);

    gap: 8px;
}

.mainMessageView {
    display: grid;
    grid-template-columns: minmax(256px, 300px) minmax(256px, 1fr);
    gap: 12px;
}

.avalibleMessageCard {
    padding: 8px;
    border-radius: 8px;

    align-items: center;
    gap: 12px;
}

.avalibleMessageCard:hover {
    cursor: pointer;
    background-color: var(--isClickable);
}

.avalibleMessageCardProfilePicture {
    aspect-ratio: 1/1;
    width: 32px;

    border-radius: 32px;

    object-fit: cover;
    object-position: center;
}

.messageView {
    flex: .7;
    padding: 12px 0px 12px 12px;

    border-radius: 12px;
    border: 1px dashed var(--border_dark);

    gap: 12px;
}

.messageLoop {
    height: 540px;
    padding-right: 12px;

    overflow-y: scroll;

    flex-grow: 1;
    flex-direction: column-reverse;
    gap: 12px;
}

.chatForm {
    padding-right: 12px;
}